<div class="container-fluid row">
    <nav class="mt-3 col-3 btn-group-vertical">
      <button name="basic" (click)="ChangeView($event)" class="btn btn-danger">Basic Details</button>
      <button name="preview" (click)="ChangeView($event)" class="btn btn-primary">Preview</button>
      <button name="description" (click)="ChangeView($event)" class="btn btn-warning">Description</button>
      <button name="rating" (click)="ChangeView($event)" class="btn btn-success">Rating</button>
      <div class="w-100 mt-3">
         <select name="View" ngModel #View="ngModel" class="form-select" (change)="SelectView(View.value)" >
             <option value="noview">Select View</option>
             <option value="basic">Basic Details</option>
             <option value="preview">Preview</option>
             <option value="description">Description</option>
             <option value="rating">Rating</option>
         </select>
      </div>
    </nav>
    <main class="col-9">
       <div [ngSwitch]="ViewName">
          <div *ngSwitchCase="'basic'">
             <h2>Basic Details</h2>
             <dl>
                 <dt>Name</dt>
                 <dd>Nike Casuals</dd>
                 <dt>Price</dt>
                 <dd>5600.55</dd>
             </dl>
          </div>
          <div *ngSwitchCase="'preview'">
             <h2>Preview</h2>
             <img src="assets/shoe.png" width="200" height="200">
          </div>
          <div *ngSwitchCase="'description'">
             <h2>Description</h2>
             <p>something about Nike casuals..</p>
          </div>
          <div *ngSwitchCase="'rating'">
             <h2>Rating</h2>
             <span class="bi bi-star-fill text-success"></span> 4.3 [4000]
          </div>
          <div *ngSwitchDefault>
             <h2>Please Select a View</h2>
          </div>
       </div>
    </main>
 </div>